<div class="container form-box">
   <form name="f" ng-submit="onSubmit(f.$valid)" novalidate>
   	<legend>{{action}}</legend>

   	<div class="form-group has-feedback"
         ng-class="{'has-error':f.uname.$dirty && f.uname.$invalid}">
   		<label for="name">用户名</label>
   		<input type="text" class="form-control"
               id="name" name="uname"
               required pattern="[a-zA-Z0-9]{6,15}"
               ng-model="user.name">
        <span class="glyphicon glyphicon-remove form-control-feedback"
              ng-show="f.uname.$dirty && f.uname.$invalid"></span>
        <span class="help-block"
              ng-show="f.uname.$dirty && f.uname.$error.required">
            请输入用户名</span>
        <span class="help-block"
              ng-show="f.uname.$dirty && f.uname.$error.pattern">
            请输入6-15位字母、数字混合的用户名</span>
   	</div>

    <div class="form-group">
       <label for="role">用户角色</label>
        <select id="role" class="form-control"
            ng-model="user.role">
            <option value="admin">管理员</option>
            <option value="user">普通用户</option>
        </select>
    </div>

   	<button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>











